variables:
  EXPRESS_IMAGE_NAME: hk215/k8express
  EXPRESS_IMAGE_TAG: latest
  REACT_IMAGE_NAME: hk215/k8react
  REACT_IMAGE_TAG: latest
  GCP_PROJECT_ID: guess-game-381115
  GKE_CLUSTER_NAME: Guess-Game

stages:
  - build
  - deploy

build_image:
  stage: build
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  before_script:
    - echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin
  script:
    - docker build -t $EXPRESS_IMAGE_NAME:$EXPRESS_IMAGE_TAG -f ./express/Dockerfile .
    - docker push $EXPRESS_IMAGE_NAME:$EXPRESS_IMAGE_TAG
    - docker build -t $REACT_IMAGE_NAME:$REACT_IMAGE_TAG -f ./react/Dockerfile .
    - docker push $REACT_IMAGE_NAME:$REACT_IMAGE_TAG
deploy:
  stage: deploy
  image: google/cloud-sdk
  script:
    - echo "$SERVICE_ACCOUNT_KEY" > key.json
    - gcloud auth activate-service-account --key-file=key.json
    - gcloud config set project $GCP_PROJECT_ID
    - gcloud config set container/cluster $GKE_CLUSTER_NAME
    - gcloud config set compute/zone us-east1-b
    - gcloud container clusters get-credentials $GKE_CLUSTER_NAME --zone us-east1-b --project $GCP_PROJECT_ID
    - kubectl apply -f ./k8s/config-map.yml
    - kubectl apply -f ./k8s/k8express-deployment.yml
    - kubectl apply -f ./k8s/k8express-service.yml
    - kubectl apply -f ./k8s/k8react-deployment.yml
    - kubectl apply -f ./k8s/k8react-service.yml
